/* Write your CSS here */
.listItems {
  display: flex;
  flex-wrap: wrap;
}
.form-el {
  display: flex;
  flex-direction: column;
}
.active-starred-btn {
  border-radius: 10px;
  width: 50px;
  height: 20px;
  font-family: Roboto;
  padding: 3px;
  font-size: 12px;
  color: #ffffff;
  margin-top: 15px;
  border-width: 0px;
  background-color: #9796f0;
}
.starred-button {
  border-radius: 10px;
  width: 50px;
  height: 20px;
  font-family: Roboto;
  padding: 3px;
  font-size: 12px;
  color: #9897f0;
  margin-top: 15px;
  border-width: 1px;
  background-color: #ffffff;
  border-color: #9897f0;
}
.appointment-head {
  font-size: 20px;
  font-family: Roboto;
  color: #171f46;
}
.appointsments-starred {
  display: flex;
  justify-content: space-between;
}
.card-hori {
  display: flex;
  flex-direction: column;
}
.only-appointment-and-img {
  display: flex;
  flex-direction: row;
}
.hori {
  border: 1px solid #b5b7c4;
  width: 96%;
  margin-top: 20px;
}
.image {
  height: 200px;
  width: 300px;
  margin-left: 80px;
}
.button {
  color: #ffffff;
  background-color: #8b5cf6;
  border-radius: 5px;
  border-width: 0px;
  padding: 3px;
  width: 60px;
  font-family: Roboto;
}
.input-title {
  margin-bottom: 10px;
  border: 1px solid #b5b7c4;
  height: 25px;
  outline: none;
}
.input-date {
  margin-bottom: 15px;
  border: 1px solid #b5b7c4;
  height: 27px;
  outline: none;
}
.label-title {
  font-size: 16px;
  font-family: Roboto;
  color: #b5b7c4;
  margin-bottom: 3px;
}
.label-date {
  font-size: 16px;
  font-family: Roboto;
  color: #b5b7c4;
  margin-bottom: 3px;
}
.upper-card-div {
  display: flex;
  flex-direction: column;
}
.head {
  font-size: 25px;
  font-family: Roboto;
  color: #171f46;
}
.bg-container {
  background-image: linear-gradient(#fbc7d4, #9796f0);
  margin: 20px;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
}
.appointment-card {
  background-color: #ffffff;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  height: 74%;
  width: 80%;
  padding: 30px;
}
